<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FIFA Dub Tracker</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Bootstrap JS, and Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />

    <!-- Custom JS -->
    <script type="text/javascript">
        $(function() {
            $('#btnExecute').click( function() {
                $.ajax({
                    url: '/customResults',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        $('#results').html(response);
                    },
                    error: function(error) {
                        console.log("err");
                        alert(error);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-sm">
                    <nav>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/viewStandings" class="active">View Standings</a>
                            </li>
                            <li>
                                <a href="/showAddResult">Add Result</a>
                            </li>
                            <li>
                                <a href="/showAddPlayer">Add New Player</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h1>FIFA Stats Tracker</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h2>Created by Aaron Sykes</h2>
                </div>
            </div>
        </div>
        <div class="body">
            <h3>Current Standings</h3>
            <table class="standingsTable">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Wins</th>
                        <th>Losses</th>
                      </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td width="100px">{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br />
            <div class="customQuery">
                <h5>Custom Query (SELECT only)</h5>
                <form>
                    <textarea rows="5" cols="65" name="statement" id="statement">SELECT </textarea>
                    <br />
                    <label for="captcha">Please enter Aaron's room number: </label>
                    <input type="text" name="captcha" id="captcha" />
                    <br />
                    <button type="button" name="btnExecute" id="btnExecute">Execute</button>
                </form>
          </div>
          <div id="results">

          </div>
        </div>
        </div>
    </div>
</body>
</html>
